.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
  font-family: $font-family-sans-serif;
}

.bg-light {
  background-color: rgba(248, 249, 250, 0.49)!important;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.banner {
  .navbar-light {
      .navbar-toggler{
    border-color: rgba(255, 255, 255, 0);
    //color: $blue;
  }
    .navbar-collapse{
          margin-top: 1em;
            border-top: 1px solid rgba(0, 0, 0, 0.37);
      @include media-breakpoint-up(md){
        margin-top: 0;
        border-top: 0;
      }
    }
    .show {



    }
  }

}

.nav-link,
.banner .nav .nav-item{
  padding:0.5em 1em;
  a {
     margin-left: 1.55em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-family: $font-family-sans-serif;
  color: #004E7E;
  font-size: 0.9em;

    @include media-breakpoint-up(md){
      margin-left: 0;
    }
}

  .navbar-light .navbar-nav .nav-item .nav-link {
    color: #004E7E;
  }
  .dropdown-item {
  color: #212529;
}

}

.navbar-light .navbar-nav .active>.nav-link {
  color: $blue;
  font-weight: 500;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}


.brand {
  max-width: 200px;
  margin-top: 3px;
}

.brand-logo {
    max-width: 210px;
}
